div {
	width: 100px;
	height: 100px;
	background-color: red;
	position: absolute;
	animation-name: example;
	animation-duration: 16s;
	animation-iteration-count: infinite;
}

.delay1 {
	animation-delay: -4s;
}

.delay2 {
	animation-delay: -8s;
}

.delay3 {
	animation-delay: -12s;
}

@keyframes example {
	0%   {background-color:red; left:0px; top:0px;}
	25%  {background-color:green; left:0px; top:200px;}
	50%  {background-color:blue; left:200px; top:200px;}
	75%  {background-color:yellow; left:200px; top:0px;}
	100% {background-color:red; left:0px; top:0px;}
}

img {
	position: absolute;
	width: 100px;
	left: 100px;
	top: 100px;
}
